.hero2__image{
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 60vh;
    position: relative;
}

.hero2__image::before{
    content: "";
    background: url("../Assets/laptop.jpg");
    background-size: cover;
    background-position: center top;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}

.hero2__heading{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero2__image h1{
    font-size: 2.4rem;
}

.hero2__image p{
    font-size: 1.4rem;
    text-align: center;
}

@media screen and (max-width: 640px){
    .hero2__image h1{
        font-size: 2rem;
    }
}